# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.astro]
indent_size = 4
max_line_length = 150

[*.{cjs,js,jsx,mjs,ts,tsx}]
max_line_length = 120

[*.{md,mdx}]
insert_final_newline = false
trim_trailing_whitespace = false # double whitespace at end of line denotes a line break in Markdown
