---
import type { LocalImageProps, RemoteImageProps } from 'astro:assets'
import { Image as AstroImage } from 'astro:assets'
import { cn } from '@utils'

type Props = (LocalImageProps | RemoteImageProps) & {
    caption?: string | undefined
    credit?: string | undefined
    heroImage?: boolean
}
const { caption, credit, heroImage, class: cls, ...imgProps } = Astro.props

const creditClass = cn(
    'absolute right-1 inline-block bg-black bg-opacity-70 px-2 py-1 font-sans text-[11px] font-light text-gray-100 rounded-xs',
    heroImage ? 'bottom-9' : 'bottom-1'
)
---

{
    caption || credit ? (
        <figure>
            <div class='relative overflow-hidden'>
                {credit && (
                    <span class={creditClass}>
                        {/* eslint-disable astro/no-set-html-directive */}
                        Photo by <Fragment set:html={credit} />
                    </span>
                )}
                {/* @ts-ignore */}
                <AstroImage class={cn(cls, 'w-full!')} {...imgProps} />
            </div>
            {caption && (
                <figcaption class={cn('absolute m-0 border-0 p-0 align-baseline text-sm italic', heroImage && 'bottom-8')}>{caption}</figcaption>
            )}
        </figure>
    ) : (
        // @ts-ignore
        <AstroImage class={cn(cls, 'w-full!')} {...imgProps} />
    )
}
