---
import { getCategories } from '@utils'
import Category from './Category.astro'

interface Props {
    activeCategory?: string
}
const { activeCategory } = Astro.props

const categories = await getCategories()
---

{
    categories.length > 0 && (
        <div class='relative flex min-w-full flex-wrap gap-5'>
            <Category />
            {categories.map((category) => (
                <Category name={category} {activeCategory} />
            ))}

            <div class='absolute bottom-0 -z-40 hidden w-full border-b-2 dark:border-gray-600 sm:block' />
        </div>
    )
}
