---
import type { Page } from 'astro'
import ArrowLeft from './icons/ArrowLeft.astro'
import ArrowRight from './icons/ArrowRight.astro'

interface Props {
    page: Page
}

const { page } = Astro.props
---

<div class="flex justify-around gap-5 md:justify-end md:gap-1">
    <!-- Previous button -->
    {
        page.start > 0 && (
            <a
                href={page.url.prev}
                class='flex h-10 items-center justify-center rounded-lg border border-gray-300 bg-white px-8 text-base font-medium text-black hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-transparent dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:px-4'
            >
                <ArrowLeft />
            </a>
        )
    }

    <!-- Next button -->
    {
        page.currentPage < page.lastPage && (
            <a
                href={page.url.next}
                class='ml-3 flex h-10 items-center justify-center rounded-lg border border-gray-300 bg-white px-8 text-base font-medium text-black hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-transparent dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:px-4'
            >
                <ArrowRight />
            </a>
        )
    }
</div>
